<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>test INDEX</title>
</head>
<body>
    <form  action="/review/simple/write"  method="post">
        <br><input hidden type="text" name="place_id" th:value="${session.place_id}">
        <br><input hidden type="text" name="user_id" th:value="${session.   id}">
        <input type="radio" id="good" name="recmnd" value="Good">
        <label for="good">Good</label>
        <input type="radio" id="bad" name="recmnd" value="Bad">
        <label for="bad">Bad</label>
        <br><input type="text" name="content" placeholder="내용">
        <br><button type="submit">작성</button>
    </form>
</body>
</html>